/build*
docs/build*
/xml
docs/xml
out
mpich
cmake-build-*
.idea/
.vs/
.vscode/
scripts/variants*.csv
scripts/variants*.xlsx
*venv*
sln/
CMakeSettings.json
.DS_Store
.cache
install
*.pyc
# --- Игнорирование генератора и кода в папках данных ---
# Игнорировать исполняемые файлы с этим именем в любой подпапке данных
**/create_data
# Игнорировать исходный файл с этим именем
**/create_data.cpp